  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3F3D3F;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #0F0D0F;
  }
  